# VARIABLES PARA PRODUCCIÓN (COPIAR A VERCEL)
MONGO_URI=mongodb://refaccionariareyna58_db_user:CXHSshe3gaXvuJPs@ac-rtalx5j-shard-00-00.1xdxite.mongodb.net:27017,ac-rtalx5j-shard-00-01.1xdxite.mongodb.net:27017,ac-rtalx5j-shard-00-02.1xdxite.mongodb.net:27017/refaccionaria_bd?ssl=true&replicaSet=atlas-zvdhnu-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=reina_pos_secret_2026_full_secure
FRONTEND_URL=https://point-of-sale-English-system.vercel.app
